{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration & Control</title>

    <!-- default css -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <!-- Data Tables -->
    <link href="{% static 'plugins/dataTables/css/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/dataTables/css/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'plugins/dataTables/css/dataTables.tableTools.min.css' %}" rel="stylesheet">

    <!-- inispinia css -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/gluesys.css' %}" rel="stylesheet">
    <link href="{% static 'register/css/layout.css' %}" rel="stylesheet">

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'plugins/pace/pace.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body class='fixed-nav'>
<div id="wrapper">
    <!-- top navigation -->
    <div class="row border-bottom">
        <nav class="navbar navbar-fixed-top top-bg" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">

                <!--<a class="navbar-brand" href="./index.html">home</a>-->
                <!-- this link will be used when you use only node js -->
                <!--<a class="navbar-brand" href="./index.html"><img src="./images/G_insight_logo_02.svg" width="200%" style="filter:alpha(style=2, opacity=100, finishopacity=0)"></a>-->

                <!-- This link will be used when you use Python Django also -->
                <a class="navbar-brand" href="http://192.168.2.249:8001/main/"><img src="{% static 'image/gLogo06.png' %}" width="100%" style="filter:alpha(style=2, opacity=100, finishopacity=0); position:relative; top:7px;"></a>
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-globe"></i>
                    </a>
                    <ul class="dropdown-menu select-menu">
                        <li><a href='#'><img src="../images/kr.png"> 한국어</a></li>
                        <li><a href='#'><img src="../images/us.png"> English</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                        <i class="fa fa-th"></i>
                    </a>
                    <ul class="dropdown-menu select-menu">
                        <li><a href='../system/'> System InSight</a></li>
                        <li><a href='#'> Contents Management</a></li>
                        <li><a href='../analysis/'> Analysis Service</a></li>
                    </ul>
                </li>
                <li>
                    <a href="./../login.html" class='logout'>
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- left navigation -->
    <!--
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
                <li class="nav-header">
                    <div class="app-element">
                        <strong class="font-bold">Registration & Control</strong>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>

                </li>
            </ul>

        </div>
    </nav>
-->
    <div id="page-wrapper" class="gray-bg" style="position:absolute; left:-220px; width:100%;">
        <!--
        <div class="container_RC"></div>

        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        -->

        <div id='page-layout'>
            <body>
            <div class="row wrapper border-bottom peek-through-orange-bg page-heading">
                <div class="col-lg-10">
                    <h2>Device Registration</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li><a>Set list</a>
                        <li class="active">
                            <strong><?=$_GET['setId']?></strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <!-- Set 정보 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Set Information</h5>
                            </div>
                            <div class="ibox-content">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>세트 이름</th>
                                        <td>Set1</td>
                                        <th>배포일</th>
                                        <td>2017.05.01 12:00:00</td>
                                    </tr>
                                    <tr>
                                        <th>엣지 코드</th>
                                        <td>ABCD-1000-1111-1111</td>
                                        <th>IP</th>
                                        <td>192.168.1.1.</td>
                                    </tr>
                                    <tr>
                                        <th>관리자</th>
                                        <td>user1,user2</td>
                                        <th>연결상태</th>
                                        <td>Online</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Set에 포함되는 장비 리스트 -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Set Device List</h5>
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search" class="input-sm form-control"> <span
                                                class="input-group-btn">
									<button type="button" class="btn btn-sm btn-primary"> Go!</button> </span>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <button type="button" data-action="add-device" class="btn btn-white btn-sm"><i
                                                class="fa fa-plus"></i> Add
                                        </button>
                                        <button type="button" data-action="delete-device" class="btn btn-white btn-sm"><i
                                                class="fa fa-minus"></i> Delete
                                        </button>
                                        <button type="button" data-action="delete-device" class="btn btn-white btn-sm"><i
                                                class="fa fa-pencil"></i> Modify
                                        </button>
                                    </div>
                                </div>

                                <table class="table table-striped table-bordered table-hover dataTables" id="set_device_table">
                                    <thead>
                                    <tr>
                                        <th width='20' data-bSortable="false" class='no-sort'><input type='checkbox' value='all'
                                                                                                     id='allChk'></th>
                                        <th>Device Name</th>
                                        <th>Device Code</th>
                                        <th>IP</th>
                                        <th>Status</th>
                                        <th>Contents</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX">
                                        <td><input type='checkbox'></td>
                                        <td>Device1</td>
                                        <td>AAAA-BBBB-1111-0000</td>
                                        <td>192.162.3.3</td>
                                        <td><span class="label label-success">Online</span></td>
                                        <td class="center">
                                            <button type="button" class="btn btn-xs btn-primary">상세보기</button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><input type='checkbox'></td>
                                        <td>Device2</td>
                                        <td>AAAA-BBBB-1111-0000</td>
                                        <td>192.162.3.3</td>
                                        <td><span class="label label-success">Online</span></td>
                                        <td class="center">
                                            <button type="button" class="btn btn-xs btn-primary">상세보기</button>
                                        </td>
                                    </tr>
                                    <tr class="gradeX">
                                        <td><input type='checkbox'></td>
                                        <td>Device3</td>
                                        <td>AAAA-BBBB-1111-0000</td>
                                        <td>192.162.3.3</td>
                                        <td><span class="label">Offline</span></td>
                                        <td class="center"></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div


        </div>



        <div class="footer">
            <div>
                COPYRIGHT(C)2014 Gluesys. All Rights Reserved
            </div>
        </div>
    </div>
</div>
</body>
</html>